.login {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.loginTitle {
  font-size: 50px;
  font-family: 'Noto Sans KR', sans-serif;
  text-transform: uppercase;
  color: var(--font-2);
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 5px 0;
}

.loginInput {
  padding: 10px;
  box-shadow: 3px 3px 5px var(--shadow-right),-2px -2px 4px var(--shadow-left);
  border: 1px solid var(--bg-grey);
}

.loginInput:nth-of-type(1) {
  margin-bottom: 15px;
}

.loginButton, .loginRegisterButton {
  width: 250px;
  margin-top: 20px;
  cursor: pointer;
  box-shadow: 3px 3px 5px var(--shadow-right),-2px -2px 4px var(--shadow-left);
  border: 1px solid var(--bg-grey);
  color: var(--font-2);
  padding: 10px;
  text-transform: uppercase;
}

.loginButton:disabled {
  cursor: not-allowed;
  background-color: var(--background-color);
}
